<!DOCTYPE html>
<html>

<head>
    <title>IndiaKart</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>

</head>

<body>

    <header>
        <h1>IndiaKart</h1>
        <p>Shop Smart • Shop Fast • Shop India 🇮🇳</p>
    </header>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/sales">Sales</a>
        <a href="/cart">Cart</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>