<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IndiaKart</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <img src="/logo5 (1).png" alt="IndiaKart Logo">
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/cart">Cart (<span class="cart-count">0</span>)</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/signup">Sign Up</a>
        </div>
    </nav>