<%- include("partials/header") %>

    <h2 class="section-title">🔥 Big Sales 🔥</h2>
    <p style="text-align:center;">Grab exciting discounts today!</p>

    <div class="products">

        <div class="product-card" data-name="Bluetooth Speaker" data-price="2999"
            data-image="https://images.unsplash.com/photo-1585386959984-a4155224a1ad">

            <span class="badge sale">SALE</span>
            <img src="https://images.unsplash.com/photo-1585386959984-a4155224a1ad">
            <h3>Bluetooth Speaker</h3>
            <p class="price">₹2,999</p>
            <button class="btn-cart">Add to Cart</button>
        </div>

        <div class="product-card" data-name="Smart Watch" data-price="4499"
            data-image="https://images.unsplash.com/photo-1519741497674-611481863552">

            <span class="badge sale">SALE</span>
            <img src="https://images.unsplash.com/photo-1519741497674-611481863552">
            <h3>Smart Watch</h3>
            <p class="price">₹4,499</p>
            <button class="btn-cart">Add to Cart</button>
        </div>

    </div>

    <%- include("partials/footer") %>