<%- include("partials/header") %>

    <div class="form-box">
        <h2>Create Account</h2>
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button class="btn">Register</button>
    </div>

    <%- include("partials/footer") %>